@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
.pcs:after {
  content: " pcs";
}

.cur:before {
  content: "$";
}

.per:after {
  content: "%";
}

* {
  box-sizing: border-box;
}

body {
  padding: 0.2em 2em;
  font-family: 'Montserrat', sans-serif;
  overflow-x: scroll !important;
}



table {
  width: 100%;
}

table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}


table th, table td {
  padding: 1.4em;
}

table.fold-table {
  border-collapse: separate;
  border-spacing:0 20px;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}
table.fold-table > tbody > tr.view td.arrow,
table.fold-table > tbody > tr.view th.arrow {
  position: relative;
  padding-left: 0px;

}

table.fold-table > tbody > tr.view td.arrow::before,
table.fold-table > tbody > tr.view th.arrow::before {
  position: absolute;
  top: 40%;
  left: 5px;
  width: 25px;
  height: 25px;
  margin-top: -8px;
  font: 16px fontawesome;
  background-color: #5ce1e6;
  border-radius: 20%;
  text-align: center;
  color: white;
  content: "";
  transition: all 0.3s ease;
}
table.fold-table > tbody > tr.view {
  background: #eee;
}
table.fold-table > tbody > tr.view:hover {
  background: white;
}
table.fold-table > tbody > tr.view.open {
  background: black;
  color: white;
}
table.fold-table > tbody > tr.view.open td.arrow::before, table.fold-table > tbody > tr.view.open th.arrow::before {
  transform: rotate(-180deg);
  color: #333;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

.fold-content {
  padding: 0.5em;
}
.fold-content h3 {
  margin-top: 0;
}
.fold-content > table {
  border: 2px solid #ccc;
}
.fold-content > table > tbody tr:nth-child(even) {
  background: #eee;
}

.form-control {
    text-align: center;
}



.quote {
   background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5%;
    height: fit-content;
}

.price h4 {
  font-weight: 500;
  font-size: 1.35rem;
  margin-left: 5px;

}

.price a {
  color: #5ce1e6;
}

#priceSummary h5{
  background-color: black;
  color: white;
  padding: 1rem;
}

.quote h5 {
  font-size: medium;
}

#total {
  font-size: x-large;
  font-weight: 700;
}

.status {
  /* padding: 1rem; */
  padding: 0.3rem 0;
  background: #5ce1e6;
  color: black;
  margin: 0.5rem;
  /* border-radius: 5%; */
  min-width: 20rem;
  font-size: 0.5rem;
  box-shadow:   0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  ;
}


.status :hover {
  background: #5ce1e6;
  color: black;
  box-shadow:   0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.status h4 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem;

}

.status span {
  background-color: black; 
  color: #5ce1e6;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 10%;
  display: inline-block;
  width: fit-content;
}


.inactive {
  background: #bfbfbf;
  color: rgb(134, 131, 131)
}

.inactive span {
  background-color: rgb(134, 131, 131); 
  color: #ccc;
}



/* .diagonal {
  width: 0; 
  height: 4.3rem; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #bbb;
  top: 0; right: 0;
  position: absolute;
  transform: translateX(100%);
  z-index: 1;
} */

#nextButton {
  background-color: #5ce1e6;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  border: none;
  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  box-shadow:   0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.footer{
  width: 100vw !important;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
main{
  margin-top: 10rem;
}