
@font-face {
  font-family:acumin ;
  src: url(/fonts/Acumin-Variable-Concept.ttf);
}
@font-face {
  font-family: renegade;
  src: url(/fonts/Renegade.otf);
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden !important;
}
body h1, h2, h3, h4,h5{
  font-family: renegade;
}
body p {
  font-size: 18px !important;
  font-family: acumin;
}
body a {
  font-size: 15px !important;
  font-family: acumin;
}
body li {
  font-size: 15px !important;
  font-family: acumin;
}
body input {
  font-size: 15px !important;
  font-family: acumin;
}

/* HEADER  */
.logo {
  width: 160px;
}
.navbar {
  font-family: renegade !important;
  padding: 0;
  font-size: 14px;
  color: #000;
}
.logo-mobile {
  display: none;
}

.last-div {
  position: fixed;
  right: 0;
  position: static;
  margin-left: 10px;
  width: 250px;
  height: 80px;
  background-color: #ECBC2C;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
  margin-top: 0;
}

.child-1 :hover{
  font-size: 15px;
}
.child-2 :hover{
  font-size: 15px;
}
.child-3 :hover{
  font-size: 15px;
}
.child-divider {
  display: flex;
  flex-direction: row;
  background-color: #ECBC2C;
}
.child-1 {
  padding: 10px;
  flex: 1;
  background-color: #ECBC2C;
  text-align: center;
}
.child-2 {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.child-3 {
  border-top: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
  border-image-slice: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.mega-menu {
  position: static;
  left: 30px;
}
.mega-area {
  position: absolute;
  right: 0;
  left: 0px;
  width: 100%;
}
.mega-area .row {
  margin-left: 30%;
}
.mobile-search .btn-outline-success {
  display: none;
}
.mobile-search {
  display: none;
}
/* ABOVE IS THE CODE FOR HEADER */

/* HERO-1 */

.hero-1 {
  display: flex;
  width: 100vw;
  height: 50vh;
  background-image: url(/images/hero-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  margin-top: 6rem;
}

.hero-1 .hero-headings {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  margin-left: 20%;
}
.hero-button {
  margin-top: 10px;
  margin-left: 20%;
}
.hero-button button {
  background-color: #ECBC2C;
  border: none;
  color: #000;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-button button:hover {
  background-color: #ECBC2C;
  color: #000;
}
/* CODE FOR SECOND DIV BELOW */
.second-div-h2 {
font-size: 35px;
}
.second-div-p {

  font-size: 18px;
}
.mobile-view-carousel {
  height: 100vh;
}
.schedule-now-btn {
  background-color: #ECBC2C;
  color: #000;
  border: none;
}
.schedule-now-btn:hover {
  background-color: #ECBC2C;
  color: #000;
}
.btn-primary {
  
  background-color: #ECBC2C;
  color: #000;
  border: none;
}
.btn-primary:hover {
  background-color: #ECBC2C;
  color: #000;
}

.carousel {
  display: none;
}

/* CODE FOR DISCOUNT DIV */
.discount-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  height: 50vh;
  background-image: url(/images/css-van.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.email-button {
  background-color: #ECBC2C;
  border: none;
  color: #000;
}
.email-button:hover {
  background-color: #ECBC2C;
  color: #000;
}
.discount-div-email {
  width: 30%;
}

/* WHY US */
.why-us-main-header{
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 3rem;
}
.why-us-border{
  border-bottom: 5px solid #ECBC2C;
  margin-left: 45%;
  margin-right: 45%;
margin-top: 0;
}

.why-us h1 {
 
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;

}
.why-us-text-1 {
  text-align: end;
}
.why-us-text-1 h1 {
  text-align: end;
 
  font-size: 30px;
}
.why-us-text-1 p {

  font-size: 15px;
}

.why-us-text-2 {
  text-align: start;
}
.why-us-text-2 h1 {
  text-align: start;

  font-size: 30px;
}
.why-us-text-2 p {

  font-size: 15px;
}

/* Why us Mobile */
.carousel-inner p{
margin-right: 1rem;
margin-left: 1rem;
}

/* CODE FOR FOOTER */
.footer{
  width: 100% !important;
  background-color: #ECBC2C !important;
  color: #fff;
}
.social-ul{
  display: flex !important;
  flex-direction: row;
  color:#fff;
}
.text-body-secondary{
  color: white !important;
}
.copyright-div{
  text-align: center;
  color: white; 
  margin-top: auto;
}
.copyright-div a{
color: white;
}
.last-div {
  transition: none; /* Remove any transition effect */
}
.icon-link {
  color: #D3A41A;
  text-decoration-color: #D3A41A;
  
}



@media screen and (max-width: 567px) {

  body {
    width: 100%;
    overflow-x: hidden;
  }
  /* HEADER FOR MOBILE */
  .logo {
    display: none;
  }
  .logo-mobile {
    width: 100px;
    display: block;
  }
  .btn-outline-success {
    display: flex;
  }
  .navbar-toggler {
    margin-right: 100%;
  }
  .last-div {
    position: fixed;
    right: 0;
    margin-top: 10rem;
    height: 80px;
    width: 15rem;
    padding: 0;
    border-radius: 10px;
    border-top-right-radius: 0 !important;
  }
 
  .mobile-search {
    margin-bottom: 10px;
  }
  .mobile-search .btn-outline-success {
    display: block;
  }
  .btn-outline-success {
    display: none;
  }
  .last-div {
    transition: none !important /* Remove any transition effect */
  }
.child-divider{
  border-radius: 10px;
  height: 40px;
}

  .navbar-toggler[aria-expanded="true"] + .last-div {
    display: none;
    transition: display 0s;
  }
  .navbar-toggler[aria-expanded="false"] + .last-div {
    display: block !important;
    transition: display 0s !important;
  }
  .navbar-toggler {
    transition: none !important; /* Override Bootstrap's transition */
  }






  .mega-area .row {
    margin: 0;
  }

  /* HERO-1 CODE BELOW */
  .container-fluid{
    padding-bottom: 8px !important;
  }
  .hero-1 {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  .hero-1 .hero-headings {
    margin: 0;
    padding: 0;
    margin-right: 150px;
  }
  .hero-button {
    margin: 0;

    padding: 0;
  }

  /* SECOND DIV */
  .second-div {
    width: 100%;
  }
  .g-5,
  .gx-5 {
    --bs-gutter-x: 0rem;
  }
  .col-10 {
    width: 100%;
  }
  .second-div-h2 {
    text-align: center;
  }
  .second-div-p {
    text-align: center;
  }
  .second-div button {
    background-color: #ECBC2C;
    border: none;
    color: #000;
    margin-left: 25%;
    width: 50%;
  }
  .div-3-desktop {
    display: none;
  }
  .carousel {
    display: block;
  }
  .carousel-caption {
    position: static;
    color: black;
    text-align: center;
  }
  .carousel-control-next-icon {
    background-image: url(/images/next-icon.png);
  }
  .carousel-control-prev-icon {
    background-image: url(images/prev-icon.png);
  }
  /* CODE FOR DISCOUNT DIV */
  .discount-div {
    padding: 10px;
  }
  .discount-div-email {
    width: 80%;
  }
  /* WHY US DIV */
  .why-us-desktop{
    display: none;
  }

  /* FOOTER */
  .footer{
   text-align: center;
   align-items: center;

  }
  .socials{
display: inline-flex;
  }
  .h1w{
    margin-top: 15rem !important;
  }
}
